<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Noodle's Notes</title>

    <link rel="stylesheet" type="text/css" href="static/reset.css">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Damion|Hind" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <img class="splash-image" src="static/images/mokupea.jpg">

      <div class="content">
        <div class="header">
          <h1>Noodle's Notes</h1>
          <h2>50 years of sailing in the Hawaiian islands</h2>
        </div>

        <div class="ctas">
          <a
              class="button primary-button"
              href="static/noodles_notes.pdf"
              download="Noodle's notes.pdf">
            Download
          </a>

          <button class="button secondary-button">Contact</button>
          <a class="button secondary-button" href="https://mokupea.blogspot.com" target="_blank">Blog</a>
        </div>
      </div>

      <p class="about">
        Lorem ipsum dolor amet neutra godard tumblr farm-to-table, knausgaard humblebrag street art kogi gentrify ennui banh mi woke fingerstache butcher. Tbh kinfolk ugh, kale chips pabst gastropub polaroid pour-over put a bird on it gochujang selvage four dollar toast trust fund kitsch. Tousled four dollar toast adaptogen YOLO letterpress taxidermy kickstarter sartorial venmo. Migas street art keytar, echo park chicharrones quinoa edison bulb.
      </p>
    </div>

  </body>
</html>
