<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1" />

    <title>Noodle's Notes</title>
    <meta
      name="description"
      content="Free resources for sailors in Hawaii and the Pacific, including the popular Hawaiian-island cruising guide"
    />
    <link rel="icon" type="image/svg" href="static/images/N.png" />

    <link rel="stylesheet" type="text/css" href="static/reset.css" />
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Damion|Hind"
      rel="stylesheet"
    />

    <meta property="og:url" content="http://www.noodlesnotes.com" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Noodle's Notes: 50 years of voyaging in Hawaii and the Pacific"
    />
    <meta
      property="og:description"
      content="Free resources for sailors in Hawaii and the Pacific, including the popular Hawaiian-island cruising guide"
    />
    <meta property="og:image" content="static/images/mokupea.jpg" />

    <meta name="twitter:card" value="summary" />
    <meta
      name="twitter:title"
      content="Noodle's Notes: 50 years of voyaging in Hawaii and the Pacific"
    />
    <meta
      name="twitter:description"
      content="Free resources for sailors in Hawaii and the Pacific, including the popular Hawaiian-island cruising guide"
    />

    <meta
      itemprop="name"
      content="Noodle's Notes: 50 years of voyaging in Hawaii and the Pacific"
    />
    <meta
      itemprop="description"
      content="Free resources for sailors in Hawaii and the Pacific, including the popular Hawaiian-island cruising guide"
    />
    <meta itemprop="image" content="static/images/mokupea.jpg" />
  </head>
  <body>
    <div class="page">
      <img class="splash-image" src="static/images/mokupea.jpg" />

      <div class="content">
        <div class="header">
          <h1>Noodle's Notes</h1>
          <h2>50 years of voyaging in Hawaii and the Pacific</h2>
        </div>
      </div>

      <div class="content-lower">
        <p class="about">
          Bill "Noodle" Leary has spent the last fifty years cruising and racing
          in Hawaii and across the Pacific. This page provides links to
          resources Noodle has prepared or gathered that may be of interest to
          other sailors
        </p>

        <p class="about">
          Wherever there's a safe, beautiful anchorage on the seven main
          Hawaiian Islands, you can be sure Noodle's been there. He's done
          extensive research and taken meticulous notes that he's compiled into
          this free online cruising guide to Hawaii, in the hopes that more
          sailors can enjoy the spectacular spots he's come to know and love.
        </p>

        <a
          class="button primary-button"
          href="https://drive.google.com/file/d/0BwLo0m-1fK2bdkFnQ08xczloNG8/view?usp=sharing&resourcekey=0-F3pFNnIyo8vT_LZ687ba1w"
          target="_blank"
        >
          Hawaiian Island Cruising Guide
        </a>

        <p class="about">
          Tony Hoff produced this excellent video about Moku pe'a's 2014 passage
          from Bora Bora back to Hawaii
        </p>
        <div class="button-container">
          <a
            class="button primary-button"
            href="https://holokuewa.blogspot.com/2014/12/bora-bora-passage-video.html"
            target="_blank"
            >Watch the video</a
          >
          <a
            class="button secondary-button"
            href="https://www.youtube.com/channel/UCuHI2FE0Axnt6kMdl5_Pdnw?"
            target="_blank"
            >Check out Moku pe'a's YouTube Channel</a
          >
        </div>

        <p class="about">
          Noodle loves to swap sea stories with his shipmates over a cold one,
          and has written down a few of his saltier tales so he doesn't forget
          them in his old age. Check them out here. Some of the earlier stories
          provide background for those that follow, so they are best read in the
          order listed.
        </p>

        <a class="button primary-button" href="/sea-stories"
          >Noodle's sea stories</a
        >

        <p class="about">
          In five voyages to the Society Islands over a forty one year period,
          Noodle has developed a list of tips on how to get the most out of your
          cruising experience there. He has compiled those tips into this free
          online guide.
        </p>

        <a
          class="button primary-button"
          href="https://drive.google.com/file/d/1knW_mLt_q0rlRqXNEXbq1Yc3c61QrZbd/view"
          target="_blank"
        >
          Society Islands Cruising Guide
        </a>

        <p class="about">
          Noodle's father, Bob Leary, sailed around the world between 1939 and
          1940 as the first mate aboard Irving Johnson's 94-foot schooner
          "Yankee". An hour-long color movie documenting the voyage was created,
          one of the first color movies ever made. Watch the movie narrated by
          Bob Leary.
        </p>

        <a
          class="button primary-button"
          href="https://drive.google.com/drive/folders/0BwLo0m-1fK2bY1Nqb3I5ZEZ4YjA?resourcekey=0-ihOIG6hYvuwnA49ZYMAouA&usp=sharing"
          target="_blank"
        >
          Yankee Sails Around the World, 1939-40
        </a>

        <p class="about">
          Noodle continues to cruise around the world and is a devoted blogger
          on these trips. You can follow along on his ongoing adventures and
          subscribe to get blog updates directly to your inbox.
        </p>

        <a
          class="button secondary-button"
          href="https://mokupea.blogspot.com"
          target="_blank"
          >Blog</a
        >

        <p class="about">
          If you enjoyed any of these resources, or found something outdated,
          send a note to Noodle.
        </p>

        <a class="button secondary-button js-contact-button">Contact</a>
      </div>
    </div>

    <div class="modal-underlay"></div>
    <div class="modal contact-modal">
      <form class="js-contact-form">
        <h3 class="modal-header">Send a note to Noodle</h3>
        <textarea
          class="contact-textarea"
          rows="8"
          placeholder="Start typing..."
        ></textarea>

        <button class="button primary-button" type="submit">Send</button>
        <button class="button secondary-button js-cancel-button">Cancel</button>
      </form>
      <h3 class="success-text">Your message was sent!</h3>
      <h3 class="error-text">Something went wrong. Please try again later.</h3>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="static/index.js"></script>
  </body>
</html>
