<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1" />

    <title>Noodle's Notes</title>
    <meta
      name="description"
      content="Free PDF download of Noodle's Notes: 50 years of sailing in the Hawaiian islands"
    />
    <link rel="icon" type="image/svg" href="static/images/N.png" />

    <link rel="stylesheet" type="text/css" href="static/reset.css" />
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Damion|Hind"
      rel="stylesheet"
    />

    <meta property="og:url" content="http://www.noodlesnotes.com" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Noodle's Notes: 50 Years of sailing in the Hawaiian Islands"
    />
    <meta
      property="og:description"
      content="Free PDF download of the popular Hawaii cruising guide"
    />
    <meta property="og:image" content="static/images/mokupea.jpg" />

    <meta name="twitter:card" value="summary" />
    <meta
      name="twitter:title"
      content="Noodle's Notes: 50 years of sailing in the Hawaiian islands"
    />
    <meta
      name="twitter:description"
      content="Free PDF download of the popular Hawaii cruising guide"
    />

    <meta
      itemprop="name"
      content="Noodle's Notes: 50 years of sailing in the Hawaiian islands"
    />
    <meta
      itemprop="description"
      content="Free PDF download of the popular Hawaii cruising guide"
    />
    <meta itemprop="image" content="static/images/mokupea.jpg" />
  </head>
  <body>
    <div class="page">
      <img class="splash-image" src="static/images/mokupea.jpg" />

      <div class="content">
        <div class="header">
          <h1>Noodle's Notes</h1>
          <h2>50 years of sailing in the Hawaiian islands</h2>
        </div>

        <div class="ctas">
          <a
            class="button primary-button"
            href="https://drive.google.com/file/d/0BwLo0m-1fK2bdkFnQ08xczloNG8/view"
          >
            Download
          </a>

          <button class="button secondary-button js-contact-button">
            Contact
          </button>
          <a
            class="button secondary-button"
            href="https://mokupea.blogspot.com"
            target="_blank"
            >Blog</a
          >
        </div>
      </div>

      <p class="about">
        Bill "Noodle" Leary has spent the last 50 years cruising and racing
        throughout the Hawaiian islands. Wherever there's a safe, beautiful
        anchorage, you can be sure he's been there. He's done extensive research
        and taken meticulous notes that he's compiled into this free cruising
        guide to Hawaii, in the hopes that more sailors can enjoy the
        spectacular spots he's come to know and love.
      </p>
      <p class="about">
        Noodle continues to cruise around the world and is a devoted blogger on
        these trips. You can follow along on his ongoing adventures via the
        "Blog" link above.
      </p>
    </div>

    <div class="modal-underlay"></div>
    <div class="modal contact-modal">
      <form class="js-contact-form">
        <h3 class="modal-header">
          If you loved Noodle's Notes, or found something outdated, send a note
          to Noodle
        </h3>
        <textarea
          class="contact-textarea"
          rows="8"
          placeholder="Start typing..."
        ></textarea>

        <button class="button primary-button" type="submit">Send</button>
        <button class="button secondary-button js-cancel-button">Cancel</button>
      </form>
      <h3 class="success-text">Your message was sent!</h3>
      <h3 class="error-text">Something went wrong. Please try again later.</h3>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="static/index.js"></script>
  </body>
</html>
